.wrapper {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.item {
  max-width: 300px;
  background-color: rgb(213, 213, 213);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 7px 12px 0px rgba(186, 186, 186, 1);
}
.item img {
  width: 300px;
  border-radius: 10px;
}

.item h2 {
  margin: 0;
}
.desktop-warning{
    display: none;
}


@media (max-width: 1300px) {
    .wrapper{
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 700px) {    
    .desktop-warning{
        display: block;
        text-align: center;
    }
    .desktop-warning h2{
        color: red;
    }
}
